.cardAppointmentDiv {
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  margin: 10px 0px;
  background-color: #fdd835;
  opacity: 90%;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-align: justify;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  span {
    flex: 0 0 18%;
  }
}

.active {
  color: #4caf50;
  &:hover {
    color: #ffffff;
    background-color: #e91e63;
    cursor: pointer;
  }
}

.cancelled {
  color: #e91e63;
}
